.block_example{
    display: block;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
}

.inline-example {
  display: inline;
  background: lightgreen;
  padding: 10px;
  margin-right: 5px;
}
.inline-block-example {
  display: inline-block;
  background: lightcoral;
  width: 100px;
  height: 50px;
  margin-right: 5px;
}
.flex-container {
  display: flex;
  gap: 10px;
  background: #457b9d;
  padding: 10px;
  margin-top: 10px;
}
.flex-item {
  background: #f1faee;
  padding: 20px;
  flex: 1;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background: #2a9d8f;
  padding: 10px;
  margin-top: 10px;
}

.grid-item {
  background: #fefae0;
  padding: 20px;
  text-align: center;
}